<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
		<title>Alta producto</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body>
		<header th:replace="/layout/cabecera :: header"></header>
		<div th:replace="/layout/navegacion :: nav"></div>
		
		<div class="container py-3">
			<div class="row">
				<div class="col-md-10">
					<h1>Alta de un nuevo producto</h1>
					<form th:action="@{/producto/guardar}" th:object="${producto}" method="POST">
 						<input type="hidden" th:field="*{id}"/> 

						<div class="form-group row">
							<label for="nombre" class="col-md-4 col-form-label">Nombre del producto</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="nombre" th:field="*{nombre}">
							</div>
							<div class="form-text text-danger col-sm-5 offset-4" role="alert" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
						</div>
		
						<div class="form-group row">
							<label for="precio" class="col-md-4 col-form-label">Precio</label>
							<div class="col-md-8">
								<input type="number" class="form-control" id="precio" th:field="*{precio}" step="any">
							</div>
							<div class="form-text text-danger col-sm-5 offset-4" role="alert" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
						</div>
		
						<div class="form-group row">
							<label for="marca" class="col-md-4 col-form-label">Marca del producto</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="marca" th:field="*{marca}">
							</div>
							<div class="form-text text-danger col-sm-5 offset-4" role="alert" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
						</div>
						
						<div class="form-group row">
							<label for="stock" class="col-md-4 col-form-label">Stock</label>
							<div class="col-md-8">
								<input type="number" class="form-control" id="stock" th:field="*{stock}">
							</div>
							<div class="form-text text-danger col-sm-5 offset-4" role="alert" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
						</div>
						
						<div class="form-group row">
					    	<div class="col-md-8">
					      		<button type="submit" class="btn btn-info">Guardar</button>
					   		 </div>
					  	</div>
						
					</form>
				</div>
				<aside th:replace="/layout/publicidad :: aside"></aside>
			</div>
		</div>
		
		
		
		<footer th:replace="/layout/footer :: footer"></footer>
		
		
	</body>
</html>