<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
	</head>
	<body>
		<header id="header" th:fragment="header">
		<a href="/principal" class="text-reset">
			<div class="jumbotron jumbotron-fluid m-0" style="background-image: url(/images/header.png); background-size:100%">
				<div class="container">
					<h1 class="display-4">Thelma &amp; Luis</h1>
				    <p class="lead">Cosméticos</p>				
				</div>
			</div>
			</a>
		</header>
	</body>
</html>